---
import Card from "../components/fundamentos.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Metodo de Burbuja | Index | IUJO</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://kit.fontawesome.com/cf1fb60fea.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Oxanium:wght@200..800&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rouge+Script&display=swap" rel="stylesheet">
  </head>
  <body>

    <!-- wrapper es el formato que utilizo para organizar todo en un grid, que me permita posicionarlo como yo quiera en base a columnas y filas -->
    <div class="wrapper">

      <!-- Header Barra -->
      <header>
        <p class="sd"><a href="https://github.com/SamuelCubano/University-Bubble-Sort-Project" target="_blank">🖐 Visita nuestro proyecto y apoyanos con una ✨</a></p>
        <div id="elements">
            <button class="menu-toggle" id="menuToggle">☰</button>
            <div class="links" id="menu">
                <button class="close-menu" id="closeMenu">✖</button>
                <a href="#">Bubble Sort</a>
                <a href="#four">Fundamentos</a>
                <a href="">Telemedicina</a>
                <a href="">Noticias</a>
                <a href="">Contacto</a>
                <a href="">Preguntas Frecuentes</a>
            </div>
        </div>
    </header>

      <div class="two"></div>

      <div class="twotwo">
        <h2 class="subtitle">Ordenamiento de Burbuja <br>(Bubble Sort)</h2>
        <p class="info">El ordenamiento por burbuja (Bubble Sort) es un algoritmo de ordenamiento elemental que organiza los elementos de una lista comparando de manera repetitiva pares adyacentes y realizando intercambios si están en el orden incorrecto. Su nombre se debe a la forma en que los elementos más grandes van “flotando” hacia el final de la lista, como si fueran burbujas que ascienden a la superficie.</p>
		<div class="botonera">
			<a href="#four" class="btn">Conoce los Fundamentos Básicos</a>
			<a href="#" class="btn">Continuar</a>
		  </div>
      </div>

      <!-- Sección de Información de la Compañía -->
      <div class="four" id="four"></div>

      <!-- Sección de Información de la Localidad de la Compañía -->
      <div class="seven" >
        <h2 class="subtitle" id="seven">Fundamentos Básicos de JavaScript</h2>
        <p class="info">Aprender estos fundamentos no solo te permite entender cómo se comporta el código, sino que te da las herramientas para pensar como un desarrollador y resolver problemas del mundo real con lógica y creatividad.</p>
        <Card title="1.   Variables" info="Una variable es un contenedor que guarda un valor. Ese valor puede cambiar durante la ejecución del programa (de ahí el nombre variable). Es como una etiqueta que le pones a una caja para saber qué hay dentro."/>
      </div>

      <!-- Sección de Información de la Compañía -->
      <div class="nine"></div>

      <!-- Sección de Servicios -->
      <div class="ten">
        <h2 class="subtitle">¿Cuáles Servicios te Ofrecemos?</h2>
        <p class="info"><span style="padding-left: 30px;"></span> Ofrecemos una amplia gama de servicios médicos especializados, diseñados para brindarle la mejor atención con tecnología de vanguardia y un equipo altamente calificado.</p>
      </div>

      <!-- Sección de Servicios -->
      <div class="eleven">
        <h3 class="servicios-nombre">MEDICINA GENERAL</h3>
        <a href="/servicios/">
          <button class="servicios-boton">Ver más</button>
        </a>
      </div>

      <!-- Sección de Imagen de Servicios -->
      <div class="eleveneleven"></div>

      <!-- Sección de Servicios -->
      <div class="twelve">
        <h3 class="servicios-nombre">MEDICINA INTERNA</h3>
        <a href="/servicios/">
          <button class="servicios-boton">Ver más</button>
        </a>
      </div>

      <!-- Sección de Imagen de Servicios -->
      <div class="twelvetwelve"></div>

      <!-- Sección de Servicios -->
      <div class="thirteen">
        <h3 class="servicios-nombre">GINECOLOGÍA Y OBSTETRICIA</h3>
        <a href="/servicios/">
          <button class="servicios-boton">Ver más</button>
        </a>
      </div>

      <!-- Sección de Imagen de Servicios -->
      <div class="thirteenthirteen"></div>

      <!-- Sección de Servicios -->
      <div class="fourteen">
        <h3 class="servicios-nombre">TRAUMATOLOGIA</h3>
        <a href="/servicios/">
          <button class="servicios-boton">Ver más</button>
        </a>
      </div>

      <!-- Sección de Imagen de Servicios -->
      <div class="fourteenfourteen"></div>

      <!-- Sección de Servicios -->
      <div class="fifteen">
        <h3 class="servicios-nombre">CARDIOLOGIA</h3>
        <a href="/servicios/">
          <button class="servicios-boton">Ver más</button>
        </a>
      </div>

      <!-- Sección de Imagen de Servicios -->
      <div class="fifteenfifteen"></div>

      <!-- Sección de Servicios -->
      <div class="sixteen">
        <h3 class="servicios-nombre">LABORATORIO</h3>
        <a href="/servicios/">
          <button class="servicios-boton">Ver más</button>
        </a>
      </div>

      <!-- Sección de Imagen de Servicios -->
      <div class="sixteensixteen"></div>

      <!-- Sección de Información de la Compañía -->
      <div class="seventeen">
        <h2 class="subtitle">Descubra más sobre nuestros servicios:</h2>
        <a href="/servicios/">
          <button class="general-boton">Haga clic aquí y explore nuestros servicios completos</button>
        </a>
      </div>

      <!-- Sección de Slogan -->
      <div class="eighteen">
        <h2 class="slogan"><i>"Nos esforzamos por brindarle la mejor atención médica, con un enfoque en la excelencia, la innovación y la calidad en cada consulta, procedimiento y tratamiento."</i></h2>
      </div>

      <!-- Sección de Información de la Compañía -->
      <div class="twenty"></div>

      <!-- Sección de Novedades -->
      <div class="twenty-one">
        <h2 class="subtitle"> Novedades y Actualizaciones en IMHC</h2>
        <p class="info"><span style="padding-left: 30px;"></span>Nos esforzamos por mantenerlo actualizado con las novedades en salud, avances médicos, nuevos servicios y consejos para su bienestar. Consulte nuestras noticias y descubra información relevante para usted y su familia.</p>
      </div>

      <!-- Sección de Noticias -->
      <div class="twenty-two">Noticia medica (contenido importante) 1</div>

      <!-- Sección de Noticias -->
      <div class="twenty-three">Noticia medica (contenido importante) 2</div>

      <!-- Sección de Noticias -->
      <div class="twenty-four">Noticia medica (contenido importante) 3</div>

      <!-- Sección de Noticias -->
      <div class="twenty-five">Noticia medica (contenido importante) 4</div>

      <!-- Sección de Noticias -->
      <div class="twenty-six">Noticia medica (contenido importante) 5</div>

      <!-- Sección de Noticias -->
      <div class="twenty-seven">Noticia medica (contenido importante) 6</div>

      <!-- Sección de Información de la Compañía -->
      <div class="twenty-eight">
        <h2 class="subtitle">¿Quiere estar al día?</h2>
        <p class="info">No se pierda nuestras noticias sobre avances médicos, nuevos servicios y consejos de salud.</p>
        <a href="/noticias/">
          <button class="general-boton">Haga clic aquí para ver todas las noticias</button>
        </a>  
      </div>

      <!-- Sección de Información de la Compañía -->
      <div class="nineteen">
        <h2 class="subtitle">¿No encontraste la respuesta que buscabas?</h2>
        <p class="info">No te preocupes, estamos aquí para ayudarte.</p>
        <button class="general-boton">Visita nuestra sección completa de Preguntas Frecuentes</button>
      </div>

      <!-- Sección de Footer, Contacto y Enlaces rapidos -->
      <div class="thirty">
        <footer class="footer">
          <div class="footer-container">
              <div class="footer-section">
                  <h3>Nuestra Ubicación</h3>
                  <p>Centro Lido - Chacao, Caracas, Venezuela</p>
                  <p><a href="https://maps.app.goo.gl/pqkXp7wM5cKvHhk57" target="_blank">Ver en Google Maps</a></p>
              </div>
      
              <div class="footer-section">
                  <h3>Contáctanos</h3>
                  <p>Teléfono: <a href="tel:+582123456789">+58 412 589 4408</a></p>
                  <p>Email: <a href="mailto:samule10cubano@gmail.com">samule10cubano@gmail.com</a></p>
                  <p>Horario de Atención: Lunes a Viernes, 8:00 AM - 6:00 PM</p>
              </div>
      
              <div class="footer-section">
                  <h3>Enlaces Rápidos</h3>
                  <ul>
                    <li><a href="/nosotros">Sobre Nosotros</a></li>
                    <li><a href="/servicios">Nuestros Servicios</a></li>
                    <li><a href="/faq">Preguntas Frecuentes</a></li>
                    <li><a href="/contacto">Contáctenos</a></li>
                </ul>
              </div>
      
              <div class="footer-section">
                  <h3>Nuestras Redes</h3>
                  <a href="#" target="_blank">Facebook</a> | 
                  <a href="#" target="_blank">Instagram</a> | 
                  <a href="#" target="_blank">Twitter</a>
              </div>
          </div>
      
          <div class="footer-bottom">
              <p>© 2025 SamCub - Todos los derechos reservados.</p>
          </div>
      </footer>      
      </div>
    </div>


    <!-- Estilos CSS -->
    <style>
      * {
        box-sizing: border-box;
      }

      html {
        scroll-behavior: smooth;
      }

      body {
        font-family: "Nunito Sans", serif;
        margin: 0;
        background-color: #161b22;
      }

      .wrapper {
        margin: 0;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(21, 1fr);
        grid-auto-rows: minmax(52px, auto);
      }

      header {
        background-color: rgba(0, 0, 0, 0);
        color: white;
        margin: 0;
        padding-top: 0;
        padding-bottom: 10px;
        margin-bottom: 0;
        grid-column: 1 / 22;
        grid-row: 1 ;
        position: -webkit-sticky; /* Para compatibilidad con Safari */
        position: sticky;
        top: 0;
        transition: background-color 0.3s ease ; /* Animación suave del fondo */
        z-index: 1000;
      }

      header.scrolled {
        background-color: #161b22; /* Fondo blanco cuando se desplaza */
        color: white;
        box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.25);
        -webkit-box-shadow: 0px 6px 5px 0px #58a6ff50;
      }

      .sd {
        text-align: center;
        margin: 0;
        background-color:  #161b22;
        padding-bottom: 10px;
        padding-top: 10px;
		text-decoration: none;
		transition: 0.3s ;
		font-size: 17px;
      }

	  .sd a {
		color: white;
		text-decoration: none;
		transition: 0.3s;
	  }

	  .sd a:hover {
		color: #58a6ff;
		text-decoration: none;
	  }

      .info {
        margin: 0;
        padding: 0;
        font-size: 20px;
        margin: 15px;
        color: white;
      }

      .subtitle {
        font-size: 40px;
        margin: 20px 15px;
        color: #e5e5e5;
        text-shadow: 1px 1px 10px #e5e5e5;
      }

      .twotwo .subtitle {
		text-align: center;
		font-size: 50px;
        margin:  30px;
        color:  #58a6ff ; 
        text-shadow: 1px 2px 2px #e5e5e5;
      }

      h3 {
        font-size: 26px;
        margin: 20px 15px;
      }

      .slogan {
        font-size: 30px;
        margin: 20px 15px;
        color: white;
        font-family: "PT Serif", serif;
        letter-spacing: 1px;
        font-style: italic;
      }

      .link-logo {
        display: flex;
        justify-content: center; /* Centrar horizontalmente */
        align-items: flex-end; /* Alinear al fondo del contenedor */
        width: 60px;
        height: 50px;
      }

      .links {
        display: flex;
        justify-content: center; /* Centrar horizontalmente */
        align-items: flex-end; /* Alinear al fondo del contenedor */
        height: 50px; /* Ajusta la altura según sea necesario */
        margin-top: 10px;
      }

      .links a {
        margin: 0 10px; /* Espaciado entre enlaces */
        color: white;
        font-size: 19px;  
        text-decoration: none;
        padding-left: 10px;
        padding-right: 10px;
        transition: 0.3s;
      }

      .links a:hover {
        transform: scale(1.10); /* Efecto de ligera expansión */
      }

      .links a:not(:has(.link-logo)):hover {
        color: black; /* Color de los enlaces al pasar el cursor */
        border: solid 1px #061d25;
        background-color: white;
        border-radius: 15px;
      }

      header.scrolled .links a {
        color: white; /* Color de los enlaces cuando se desplaza */
      }


      header.scrolled .links a:hover {
        color: #0084a2; /* Color de los enlaces cuando se desplaza */
      }

      li {
        list-style-type: none;
        margin: 10px;
      }

      .two {
        grid-column: 1 / 22;
        grid-row: 1 / 14; 
        background-color: #0d1117;
        background-size: cover;

      }

      .twotwo {
        grid-column: 6 / 17;
        grid-row: 4 / 13;
        background-color: rgba(0, 0, 0, 0.603);
        color: white;
        border-radius: 15px;
      }

      .twotwo .subtitle {
        color:  white;
        text-shadow: 1px 1px 10px white;
      }

	  .twotwo p {
		color: #e5e5e5;
		font-size: 20px;
		margin: 30px;
		text-align: center;
	} 

	.botonera {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 20px 0;
}

.btn {
  background-color: #061d25;
  color: #58a6ff;
  border: solid 1px #58a6ff;
  padding: 12px 24px;
  font-size: 25px;
  border-radius: 225px;
  cursor: pointer;
  text-decoration: none;
  transition: background 0.3s ease;
  display: inline-block;
  text-align: center;
}

.btn:hover {
  background-color: #58a6ff;
  color: white;
}


      .four {
        grid-column: 1 / 22;
        grid-row: 13 / 31;
        background-color: #0d1117;
      }

      .five {
        grid-column: 5 / 10;
        grid-row: 19 / 24;
        background-color: #ade0de;
        border-radius: 15px;
        border: 1px solid gray;
        background-size: cover;
      }

      .six {
        grid-column: 6 / 11;
        grid-row: 25 / 30;
        background-color: #ade0de;
        border: 1px solid gray;
        border-radius: 15px;
        background-size: cover;
      }

      .seven {
        grid-column: 5 / 18;
        grid-row: 16 / 31;
        text-align: center;
      }

      .seven p {
        margin-bottom: 50px;
      }

      .eight {
        grid-column: 1 / 22;
        grid-row: 31 / 33;
        background: linear-gradient(to bottom right, #00628b 1%, #0084a2 25%, #00b8bc 100%);
        text-align: center;
      }

      .nine {
        grid-column: 1 / 22;
        grid-row: 33 / 56;
        background-color: #0d1117;
      }

      .ten {
        grid-column: 6 / 17;
        grid-row: 34 / 36;
        text-align: center;
      }

      .ten p.info {
        text-align: left;
        
      }

      .eleven {
        grid-column: 4 / 9;
        grid-row: 41 / 44;
        margin: 12px;
        background: linear-gradient(to bottom right, #00628b 1%, #0084a2 25%, #00b8bc 100%);
        border: solid 1px grey;
        text-align: center;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
      }

      .eleveneleven {
        grid-column: 4 / 9;
        grid-row: 37 / 42;
        margin: 12px;
        background-size: cover;
        border: solid 1px grey;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        text-align: center;
      }

      .twelve {
        grid-column: 9 / 14;
        grid-row: 41 / 44;
        margin: 12px;
        background: linear-gradient(to bottom right, #00628b 1%, #0084a2 25%, #00b8bc 100%);
        border: solid 1px grey;
        text-align: center;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
      }

      .twelvetwelve {
        grid-column: 9 / 14;
        grid-row: 37 / 42;
        margin: 12px;
        background-size: cover;
        border: solid 1px grey;
        text-align: center;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
      }

      .thirteen {
        grid-column: 14 / 19;
        grid-row: 41 / 44;
        margin: 12px;
        background: linear-gradient(to bottom right, #00628b 1%, #0084a2 25%, #00b8bc 100%);
        border: solid 1px grey;
        text-align: center;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
      }

      .thirteenthirteen {
        grid-column: 14 / 19;
        grid-row: 37 / 42;
        margin: 12px;
        background-size: cover;
        border: solid 1px grey;
        text-align: center;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
      }

      .fourteen {
        grid-column: 4 / 9;
        grid-row: 48 / 51;
        margin: 12px;
        background: linear-gradient(to bottom right, #00628b 1%, #0084a2 25%, #00b8bc 100%);
        border: solid 1px grey;
        text-align: center;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
      }

      .fourteenfourteen {
        grid-column: 4 / 9;
        grid-row: 44 / 49;
        margin: 12px;
        background-size: cover;
        border: solid 1px grey;
        text-align: center;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
      }

      .fifteen {
        grid-column: 9 / 14;
        grid-row: 48 / 51;
        margin: 12px;
        background: linear-gradient(to bottom right, #00628b 1%, #0084a2 25%, #00b8bc 100%);
        border: solid 1px grey;
        text-align: center;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
      }

      .fifteenfifteen{
        grid-column: 9 / 14;
        grid-row: 44 / 49;
        margin: 12px;
        background-size: cover;
        border: solid 1px grey;
        text-align: center;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
      }

      .sixteen {
        grid-column: 14 / 19;
        grid-row: 48 / 51;
        margin: 12px;
        background: linear-gradient(to bottom right, #00628b 1%, #0084a2 25%, #00b8bc 100%);
        border: solid 1px grey;
        text-align: center;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
      }

      .sixteensixteen {
        grid-column: 14 / 19;
        grid-row: 44 / 49;
        margin: 12px;
        background-size: cover;
        border: solid 1px grey;
        text-align: center;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
      }

      .servicios-nombre {
        font-size: 20px;
        margin-top: 50px;
        color: white;
      } 

      .servicios-boton {
        background-color: #ffffff;
        color: #0084a2;
        border: none;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 18px;
        margin-bottom: 20px ;
        cursor: pointer;
        border-radius: 25px;
        transition: background 0.5s ease-in-out, transform 0.3s ease-in-out;
      }

      .servicios-boton:hover {
        background-color: #ade0de;
       color: #004757;
        transform: scale(1.05); /* Efecto de ligera expansión */
      }

      .general-boton {
        background-color: #6cbfc6;
        color: white;
        border: none;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 18px;
        margin-bottom: 20px ;
        cursor: pointer;
        border-radius: 25px;
        transition: background 0.5s ease-in-out, transform 0.3s ease-in-out;
      }

      .general-boton:hover {
    background: linear-gradient(to bottom right, #00628b, #0084a2, #00b8bc);
    transform: scale(1.05); /* Efecto de ligera expansión */
}


      .seventeen {
        grid-column: 6 / 17;
        grid-row: 52 / 55;
        text-align: center;
      }

      .eighteen {
        grid-column: 1 / 22;
        grid-row: 56 / 58;
        background: linear-gradient(to bottom right, #00628b 1%, #0084a2 25%, #00b8bc 100%);
        text-align: center;
      }

      .nineteen {
        grid-column: 1 / 22;
        grid-row: 85 / 89;;
        background-color: #ade0de;
        text-align: center;
      }

      .nineteen button:hover {
        background: linear-gradient(to bottom right, #00628b 1%, #0084a2 25%, #00b8bc 100%);
      }

      .twenty {
        grid-column: 1 / 22;
        grid-row: 80 / 85;
        background-size: cover;
      }

      

      .twenty-one {
        grid-column: 6 / 17;
        grid-row: 59 / 61;
        text-align: center;
      }

      .twenty-one p {
        text-align: left;
      }

      .twenty-two {
        grid-column: 4 / 11;
        grid-row: 61 / 66;
        margin: 12px;
        background-color: #ade0de;
        border: solid 1px #061d25;
        text-align: center;
      }

      .twenty-three {
        grid-column: 4 / 11;
        grid-row: 66 / 71;
        margin: 12px;
        background-color: #ade0de;
        border: solid 1px #061d25;
        text-align: center;
      }

      .twenty-four {
        grid-column: 11 / 19;
        grid-row: 61 / 71;
        margin: 12px;
        background-color: #ade0de;
        border: solid 1px #061d25;
        text-align: center;
      }

      .twenty-five {
        grid-column: 4 / 12;
        grid-row: 71 / 81 ;
        margin: 12px;
        background-color: #ade0de;
        border: solid 1px #061d25;
        text-align: center;
      }

      .twenty-six {
        grid-column: 12 / 19;
        grid-row: 71 / 76;
        margin: 12px;
        background-color: #ade0de;
        border: solid 1px #061d25;
        text-align: center;
      }

      .twenty-seven {
        grid-column: 12 / 19;
        grid-row: 76 / 81;
        margin: 12px;
        background-color: #ade0de;
        border: solid 1px #061d25;
        text-align: center;
      }

      .twenty-eight {
        grid-column: 6 / 17;
        grid-row: 82 / 84;
        text-align: center;
        background-color: #e5e5e5;
        border-radius: 15px;
      }

      .twenty-eight button:hover{
        background: linear-gradient(to bottom right, #00628b 1%, #0084a2 25%, #00b8bc 100%);
      }

      .thirty {
        grid-column: 1 / 22;
        grid-row: 89 / 95;
        background-color: #6cbfc6;
        text-align: center;
      }

      .footer {
    background-color: #061d25;
    color: white;
    padding: 30px 20px;
    text-align: left;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    min-height: 180px;
    margin: auto;
}

.footer-section {
    flex: 1;
    min-width: 250px;
    margin: 10px;
}

.footer-section h3 {
    color: #6cbfc6;
    margin-bottom: 10px;
}

.footer-section a {
    color: #ade0de;
    text-decoration: none;
    transition: color 0.3s; 
}

.footer-section li {
    margin: 10px; 
}

.footer-section a:hover {
    color: #ffffff;
}

.footer-bottom {
    margin-top: 20px;
    padding-top: 15px;
    border-top: 1px solid #6cbfc6;
}

ul {
  list-style-type: none;
}

@keyframes show {
	from {
		opacity: 0;
		scale: 25%;
	}

	to {
		opacity: 1;
		scale: 100%;
	}
}

.three, .five, .six, .eight, .eighteen{
	view-timeline-name: --image;
	view-timeline-axis: block;

	animation-timeline: --image;
	animation-name: show;

	animation-range: entry 25% cover 30%;
	animation-fill-mode: both;
}

/*     RESPONSIVE     */

/*      RESPONSIVE PARA TABLET   1250px  */

@media (max-width: 1250px) {
  .wrapper {
    grid-template-columns: repeat(16, 1fr);
  }

  .two {
    grid-row: 1 / 13;
  }

  .twotwo {
    grid-column: 3 / 10;
    grid-row: 7 / 12;
  }

  .three {
    grid-column: 1 / 17;
    grid-row: 13;
  }

  .five {
    grid-column: 4 / 9;
    grid-row: 23 / 28;
  }

  .six {
    grid-column: 10 / 15;
    grid-row: 23 / 28;
  }

  .seven {
    grid-column: 4 / 14;
    grid-row: 15 / 23;
  }

  .eight {
    grid-column: 1 / 17;
    grid-row: 29 ;
  }

  .ten {
    grid-column: 4 / 14;
    grid-row: 31;
  }

  .eleven {
    grid-column: 3 / 7;
    grid-row: 35 / 38;
  }

  .eleveneleven {
    grid-column: 3 / 7;
    grid-row: 32 / 36;
  }

  .twelve {
    grid-column: 7 / 11;
    grid-row: 35 / 38;
  }

  .twelvetwelve {
    grid-column: 7 / 11;
    grid-row: 32 / 36;
  }

  .thirteen {
    grid-column: 11 / 15;
    grid-row: 35 / 38;
  }

  .thirteenthirteen {
    grid-column: 11 / 15;
    grid-row: 32 / 36;
  }

  .fourteen {
    grid-column: 3 / 7;
    grid-row: 41 / 44;
  }

  .fourteenfourteen {
    grid-column: 3 / 7;
    grid-row: 38 / 42;
  }

  .fifteen {
    grid-column: 7 / 11;
    grid-row: 41 / 44;
  }

  .fifteenfifteen {
    grid-column: 7 / 11;
    grid-row: 38 / 42;
  }

  .sixteen {
    grid-column: 11 / 15;
    grid-row: 41 / 44;
  }

  .sixteensixteen {
    grid-column: 11 / 15;
    grid-row: 38 / 42;
  }

  .seventeen {
    grid-column: 4 / 14;
    grid-row: 45 / 48;
  }

  .eighteen {
    grid-column: 1 / 17;
    grid-row: 49;
  }

  .nineteen {
    grid-column: 1 / 17;
    grid-row: 71;
  }

  .twenty {
    grid-column: 1 / 17;
    grid-row: 66 / 71;
  }

  .twenty-one {
    grid-column: 4 / 14;
    grid-row: 51;
  }

  .twenty-two {
    grid-column: 3 / 9;
    grid-row: 52 / 57;
  }

  .twenty-three {
    grid-column: 9 / 15;
    grid-row: 52 / 57;
  }

  .twenty-four {
    grid-column: 3 / 9;
    grid-row: 62 / 67;
  }

  .twenty-five {
    grid-column: 3 / 9;
    grid-row: 57 / 62;
  }

  .twenty-six {
    grid-column: 9 / 15;
    grid-row: 57 / 62;
  }

  .twenty-seven {
    grid-column: 9 / 15;
    grid-row: 62 / 67;
  }

  .twenty-eight {
    grid-column: 4 / 14;
    grid-row: 68 / 70;
  }

  .thirty {
    grid-column: 1 / 17;
    grid-row: 72 / 78;
  }
}


/*  RESPONSIVE 1024px   */

@media (max-width: 1024px) {

.thirty {
  grid-column: 1 / 17;
  grid-row: 72 / 94;
}
}
/*  RESPONSIVE 1000px   */ 

@media (max-width: 1000px) {
  .twotwo {
    grid-column: 2 / 9;
    grid-row: 6 / 11;
  }

  .slogan {
    font-size: 20px;
  }
}

/*  RESPONSIVE 920px   */

@media (max-width: 920px) {
  .header {
    padding-top: 0;
    padding-bottom: 0;
  }

  .links a {
    font-size: 18px;
  }

  .wrapper {
    grid-template-columns: repeat(13  , 1fr);
  }

  .five {
    grid-column: 3 / 7;
    grid-row: 23 / 27;
  }

  .six {
    grid-column: 8 / 12;
    grid-row: 23 / 27;
  }

  .seven {
    grid-column: 3 / 12;
    grid-row: 15 / 23;
  }
  
  .ten {
    grid-column: 3 / 12;
    grid-row: 31;
  }

  .eleven {
    grid-column: 3 / 7;
    grid-row: 35 / 38;
  }

  .eleveneleven {
    grid-column: 3 / 7;
    grid-row: 32 / 36;
  }

  .twelve {
    grid-column: 8 / 12;
    grid-row: 35 / 38;
  }

  .twelvetwelve {
    grid-column: 8 / 12;
    grid-row: 32 / 36;
  }

  .thirteen {
    grid-column: 3 / 7;
    grid-row: 41 / 44;
  }

  .thirteenthirteen {
    grid-column: 3 / 7;
    grid-row: 38 / 42;
  }

  .fourteen {
    grid-column: 8 / 12;
    grid-row: 41 / 44;
  }

  .fourteenfourteen {
    grid-column: 8 / 12;
    grid-row: 38 / 42;
  }

  .fifteen {
    grid-column: 3 / 7;
    grid-row: 48 / 51;
  }

  .fifteenfifteen {
    grid-column: 3 / 7;
    grid-row: 45 / 49;
  }

  .sixteen {
    grid-column: 8 / 12;
    grid-row: 48 / 51;
  }

  .sixteensixteen {
    grid-column: 8 / 12;
    grid-row: 45 / 49;
  }

  .seventeen {
    grid-column: 3 / 12;
    grid-row: 52 / 55;
  }

  .eighteen {
    grid-column: 1 / 14;
    grid-row: 56;
  }

  .nineteen {
    grid-column: 1 / 14;
    grid-row: 77;
  }

  .twenty {
    grid-column: 1 / 14;
    grid-row: 73 /77;
  }

  .twenty-one {
    grid-column: 3 / 12;
    grid-row: 58;
  }

  .twenty-two {
    grid-column: 2 / 7;
    grid-row: 59 / 64;
  }

  .twenty-three {
    grid-column: 8 / 13;
    grid-row: 59 / 64;
  }

  .twenty-four {
    grid-column: 2 / 7;
    grid-row: 64 / 69;
  }

  .twenty-five {
    grid-column: 8 / 13;
    grid-row: 64 / 69;
  }

  .twenty-six {
    grid-column: 2 / 7;
    grid-row: 69 / 74;
  }

  .twenty-seven {
    grid-column: 8 / 13;
    grid-row: 69/ 74;
  }

  .twenty-eight {
    grid-column: 3 / 12;
    grid-row: 75;
  }

  .thirty {
    grid-column: 1 / 14;
    grid-row: 78;
  }

} 

/*  RESPONSIVE 768px   */

@media (max-width: 768px) {

  .wrapper {
    grid-template-columns: repeat(11, 1fr);
  }

  .header
  {
    padding-top: 0;
    padding-bottom: 0;
  }

  .links a {
    font-size: 16px;
  }

  .two {
    grid-row: 1 / 12;
  }

  .twotwo {
    grid-column: 2 / 8;
    grid-row: 6 / 11;
  }

  .three {
    grid-column: 1 / 12;
    grid-row: 12;
  }

  .five {
    grid-column: 3 / 6;
    grid-row: 23 / 27;
  }

  .six {
    grid-column: 7 / 10;
    grid-row: 23 / 27;
  }

  .seven {
    grid-column: 3 / 10;
    grid-row: 15 / 23;
  }

  .eight {
    grid-column: 1 / 12;
    grid-row: 29 ;
  }

  .ten {
    grid-column: 3 / 10;
    grid-row: 31;
  }

  .eleven {
    grid-column: 2 / 6;
    grid-row: 35 / 38;
  }

  .eleveneleven {
    grid-column: 2 / 6;
    grid-row: 32 / 36;
  }

  .twelve {
    grid-column: 7 / 11;
    grid-row: 35 / 38;
  }

  .twelvetwelve {
    grid-column: 7 / 11;
    grid-row: 32 / 36;
  }

  .thirteen {
    grid-column: 2 / 6;
    grid-row: 41 / 44;
  }

  .thirteenthirteen {
    grid-column: 2 / 6;
    grid-row: 38 / 42;
  }

  .fourteen {
    grid-column: 7 / 11;
    grid-row: 41 / 44;
  }

  .fourteenfourteen {
    grid-column: 7 / 11;
    grid-row: 38 / 42;
  }

  .fifteen {
    grid-column: 2 / 6;
    grid-row: 47 / 50;
  }

  .fifteenfifteen {
    grid-column: 2 / 6;
    grid-row: 44 / 48;
  }

  .sixteen {
    grid-column: 7 / 11;
    grid-row: 47 / 50;
  }

  .sixteensixteen {
    grid-column: 7 / 11;
    grid-row: 44 / 48;
  }

  .seventeen {
    grid-column: 3 / 10;
    grid-row: 51 / 54;
  }

  .eighteen {
    grid-column: 1 / 12;
    grid-row: 55;
  }

  .nineteen {
    grid-column: 1 / 12;
    grid-row: 76;
  }

  .twenty {
    grid-column: 1 / 12;
    grid-row: 72 / 76;
  }

  .twenty-one {
    grid-column: 2 / 11;
    grid-row: 57;
  }

  .twenty-two {
    grid-column: 1 / 6;
    grid-row: 58 / 63;
    margin-right: 0;
  }

  .twenty-three {
    grid-column: 7 / 12;
    grid-row: 58 / 63;
    margin-left: 0;
  }

  .twenty-four {
    grid-column: 1 / 6;
    grid-row: 63 / 68;
    margin-right: 0;
  }

  .twenty-five {
    grid-column: 7 / 12;
    grid-row: 63 / 68;
    margin-left: 0;
  }

  .twenty-six {
    grid-column: 1 / 6;
    grid-row: 68 / 73;
    margin-right: 0;
  }

  .twenty-seven {
    grid-column: 7 / 12;
    grid-row: 68 / 73;
    margin-left: 0;
  }

  .twenty-eight {
    grid-column: 2 / 10;
    grid-row: 74;
  }

  .thirty {
    grid-column: 1 / 12;
    grid-row: 77;
  }
}

/*  RESPONSIVE 600px   */

.menu-toggle, .close-menu {
        display: none;
        background: none;
        border: none;
        font-size: 30px;
        color: white;
        cursor: pointer;
    }

    @media (max-width: 600px) { 

        .menu-toggle {
            display: block;
        }


        header.scrolled .links a {
        color: #e5e5e5; /* Color de los enlaces cuando se desplaza */
      }
        .links {
            position: fixed;
            top: 0;
            left: -100%;
            width: 250px;
            height: 100vh;
            background-color: rgba(0, 0, 0, 0.9);
            flex-direction: column;
            align-items: start;
            padding: 60px 20px;
            transition: left 0.3s ease-in-out;
        }

        .links a {
            display: block;
            font-size: 20px;
            padding: 10px 0;
            color: white;
        }

        .links.active {
            left: 0;
            color: white;
        }

        .close-menu {
            display: block;
            position: absolute;
            top: 10px;
            right: 15px;
            font-size: 28px;
            color:white;
        }

        .sd {
            font-size: 14px;
        }

        .info {
            font-size: 16px;
        }

        .subtitle {
            font-size: 24px;
        }

        h3 {
            font-size: 20px;
        }

        .slogan {
            font-size: 15px;
        }

        .servicios-nombre {
            font-size: 16px;
        }

        .servicios-boton {
            font-size: 16px;
        }

        .general-boton {
            font-size: 16px;
        }

        .footer-section h3 {
            font-size: 18px;
        }

        .footer-section a {
            font-size: 16px;
        }

        .footer-bottom {
            font-size: 14px;
        }
      .twenty-eight {
        grid-column: 3 / 10;
        grid-row: 74;
      } 

      .two {
        grid-row: 1 / 12;
      }

      .three {
        grid-column: 1 / 12;
        grid-row: 12;
      } 
  }

  /*  RESPONSIVE 430px   */

  @media (max-width: 430px) {
    .wrapper {
      grid-template-columns: repeat(10, 1fr);
    }

    .two {
      grid-column: 1 / 11;
      grid-row: 1 / 11;
    }

    .twotwo {
      grid-column: 1 / 11;
      grid-row: 2 / 11; ;
      border-radius: 0;
      background-color: rgba(0, 0, 0, 0);
    }

    .botonera {
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 15px;
  margin: 20px;
  margin-top: 15px;
}

.twotwo .subtitle {
  font-size: 35px;
  margin: 0;
}

.twotwo p{
  font-size: 18px;
  margin-bottom: 20px;
  margin-top: 20px;
}


.btn {
  font-size: 20px;
}

    .three {
      grid-column: 1 / 11;
      grid-row: 11;
    }

    .seven {
      grid-column: 1 / 11;
      grid-row: 13 / 20;
    }

    .five {
      grid-column: 1 / 6;
      grid-row: 20 / 23;
      margin: 5px;
    }

    .six {
      grid-column: 6 / 11;
      grid-row: 20 / 23;
      margin: 5px;
    }

    .eight{
      grid-column: 1 / 11;
      grid-row: 24;
    }

    .ten {
      grid-column: 1 / 11;
      grid-row: 26;
    }

    .eleven {
      grid-column: 1 / 6;
      grid-row: 29 / 32;
    }

    .eleveneleven {
      grid-column: 1 / 6;
      grid-row: 27 / 30;
    }

    .twelve {
      grid-column: 6 / 11;
      grid-row: 29 / 32;
    }

    .twelvetwelve {
      grid-column: 6 / 11;
      grid-row: 27 / 30;
    }

    .thirteen{
      grid-column: 1 / 6;
      grid-row: 34 / 37;
    }

    .thirteenthirteen {
      grid-column: 1 / 6;
      grid-row: 32 / 35 ;
    }

    .fourteen {
      grid-column: 6 / 11;
      grid-row: 34 / 37;
    }

    .fourteenfourteen {
      grid-column: 6 / 11;
      grid-row: 32 / 35;
    }

    .fifteen {
      grid-column: 1 / 6;
      grid-row: 39 / 42;
    }

    .fifteenfifteen {
      grid-column: 1 / 6;
      grid-row: 37 / 40;
    }

    .sixteen {
      grid-column: 6 / 11;
      grid-row: 39 / 42;
    }

    .sixteensixteen {
      grid-column: 6 / 11;
      grid-row: 37 / 40;
    }

    .seventeen {
      grid-column: 1 / 11;
      grid-row: 43 / 48;
    }

    .eighteen {
      grid-column: 1 / 11;
      grid-row: 47;
    }

    .twenty-one {
      grid-column: 1 / 11;
      grid-row: 49;
    }

    .twenty-two {
      grid-column: 1 / 6;
      grid-row: 50 / 55;
      margin: 5px;
    }

    .twenty-three {
      grid-column: 6 / 11;
      grid-row: 50 / 55;
      margin: 5px;
    }

    .twenty-four {
      grid-column: 1 / 6;
      grid-row: 55 / 60;
      margin: 5px;
    }

    .twenty-five {
      grid-column: 6 / 11;
      grid-row: 55 / 60;
      margin: 5px;
    }

    .twenty-six {
      grid-column: 1 / 6;
      grid-row: 60 / 65;
      margin: 5px;
    }

    .twenty-seven {
      grid-column: 6 / 11;
      grid-row: 60 / 65;
      margin: 5px;
    }

    .twenty-eight {
      grid-column: 1 / 11;
      grid-row: 66;
    }

    .twenty {
      grid-column: 1 / 11;
      grid-row: 63 / 66;
    }
    
    .nineteen{
      grid-column: 1 / 11;
      grid-row: 67;
    }

    .thirty {
      grid-column: 1 / 11;
      grid-row: 68;
    }
    }

    .general-boton{
      margin: 20px;
      margin-top: 0;
    }

    .twenty-eight .general-boton {
      padding-left: 40px;
      padding-right: 40px;
    }


  /*  RESPONSIVE 415px   */

  @media (max-width: 415px) {

    .thirty {
      grid-column: 1 / 11;


    }

    .sd {
      padding: 10px;
    }
  }

  /*  RESPONSIVE 390px   */

  .sd {
    padding: 12px;
  }
  /*  RESPONSIVE 375px   */

  @media (max-width: 375px) {
    .thirty {
      grid-column: 1 / 11;
      grid-row: 64 / 75;
    }

    .sd {
      padding: 10px;
    }
  }

    </style>

  <script>
  const menuToggle = document.getElementById("menuToggle");
  if (menuToggle) {
    menuToggle.addEventListener("click", function() {
    const menu = document.getElementById("menu");
    if (menu) {
      menu.classList.add("active");
    }
  });

  }
  const closeMenu = document.getElementById("closeMenu");
  if (closeMenu) {
    closeMenu.addEventListener("click", function() {
      const menu = document.getElementById("menu");
      if (menu) {
        menu.classList.remove("active");
      }
    });
  }
  </script>

    <script>
      window.addEventListener('scroll', function() {
        var header = document.querySelector('header');
        if (header) {
          if (window.scrollY > 0) {
            header.classList.add('scrolled');
          } else {
            header.classList.remove('scrolled');
          }
        }
      });
    </script>
  </body>
</html>
